<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>LSRequiresIPhoneOS</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires access to the calendar</string>
	<string>CFBundleDevelopmentRegion</string>
	<key>en</key>
	<string>CFBundleDisplayName</string>
	<key>sistema_de_quadras</key>
	<string>CFBundleExecutable</string>
	<key>$(EXECUTABLE_NAME)</key>
	<string>CFBundleIdentifier</string>
	<key>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</key>
	<string>CFBundleInfoDictionaryVersion</string>
	<key>6.0</key>
	<string>CFBundleName</string>
	<key>$(PRODUCT_NAME)</key>
	<string>CFBundlePackageType</string>
	<key>APPL</key>
	<string>CFBundleShortVersionString</string>
	<key>1.0</key>
	<string>CFBundleSignature</string>
	<key>????</key>
	<string>CFBundleVersion</string>
	<key>true</key>
	<string>UILaunchStoryboardName</string>
	<key>LaunchScreen</key>
	<string>UIRequiredDeviceCapabilities</string>
	<key>armv7</key>
	<string>UISupportedInterfaceOrientations</string>
	<key>UIInterfaceOrientationPortrait,UIInterfaceOrientationLandscapeLeft,UIInterfaceOrientationLandscapeRight</key>
	<string>UIViewControllerBasedStatusBarAppearance</string>
	<key>false</key>
	<string>NSLocationWhenInUseUsageDescription</string>
	<key/>
	<string>NSAppTransportSecurity</string>
	<key>[object Object]</key>
	<string>UIAppFonts</string>
	<key>UIAppFonts</key>
	<array/>
</dict>
</plist>
